@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Monument";
    src: url("/fonts/Monument.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Monument", sans-serif;
}
::selection {
    background-color: #362f9c;
}
@keyframes shake {
    0% {
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-10px);
    }
    20%,
    40%,
    60%,
    80% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes pulse {
    50% {
        opacity: 0.5;
    }
}
